{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'gg45/addcategory.css' %}">
</head>
<body>
    <div class="first">
        <a href="{% url 'account' user.id %}">
            <svg id="account" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
        </a>
    </div>
    {% block body %}
        <div class="content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="tittle">
                    {{form.tittle.label}}
                    <br>
                    {{form.tittle}}
                </div>
                <button type="submit" id="submit">submit</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>